<div class="maincontent">

  <article class="article">
    <h2 class="article-title">About Dostiera.Com</h2>
      <p>This is the best Website to see my friends (from schoollife to collagelife) list .<spam style="color :rgb(218, 63, 102)"> Dostiera.Com </spam>, best resource for
        anyone who wants to know my Friends list. This Website  cover a range of different friends(from schoollife to collagelife)… I(Sumant Kumar) explained my self and friends through this website.
        I request to all my friends ,Please give Feedback and suggestion that How to developed bestest Website – just go for it. Thankyou  Everyone.....</p>
  </article><!-- article -->


</div>